<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Reproductor</title>
	<link rel="stylesheet" href="">
</head>
<body>
	<audio controls id="audio">
		<source src="http://youtubeinmp3.com/download/get/?i=vD1E7%2B9Qa3hEbJAuEJak1Hh5c04XF%2FcUIeSRoXfXIbbcte%2FbFpI24APl5MktW6l82a6kobuZT%2BIBCqDT174XcQ%3D%3D" type="audio/mpeg">
		Your browser does not support the audio element.
	</audio> 
</body>
</html>


<!-- 

control = document.getElementById("control")
<audio id="control" controls="">
control
<audio id="control" controls="">
control.play()
undefined
control.pause()
undefined
control.readyState
4
control.properties
HTMLPropertiesCollection { names: DOMStringList[0], length: 0 }
control.duration
130.372384
control.currentTime
11.091746
1.01666666667
1.01666666667
var num = 1.01666666667
undefined
num.toFixed(2)
"1.02"
num.toFixed(1)
"1.0"
num = 1.03333333333
1.03333333333
num.toFixed(1)
"1.0"
num.toFixed(2)
"1.03"
num = 2.17287306667
2.17287306667
num.toFixed(2)
"2.17"
num = 0.18486243333
0.18486243333
num.toFixed(2)
"0.18"


 -->